* {
    padding: 0;
    margin: 0;
    background-color: #000000;
}

div {
    display: flex;
}

body {
    margin: 5rem auto;
}

.about-content-holder {
    width: 100%;
    max-width: 1440px;
    ;
    flex-direction: row;
    color: #ffffff;
    justify-content: center;
}

.about-content-lable {
    width: 8rem;
    /* 项目经历: */
    opacity: 0.87;
    font-family: Lato-Light;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: 0.3rem;
}

.about-content-inner {
    flex-direction: column;
    flex-basis: 66%;
}

.about-content-title {
    flex-direction: row;
    justify-content: space-between;
    /* 触宝输入法产品Festure设计(And: */
    font-family: .PingFangSC-Regular, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.secondary {
    /* 2017.1 - 2017.4 copy: */
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 21px;
}

a:link {
    /* 2017.1 - 2017.4 copy: */
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
    font-size: 14px;
    color: #FF7B00;
    letter-spacing: 0;
    line-height: 21px;
    text-decoration: none;
}

p {
    /* 以用户留存和满意度为目标，完成了包括键盘: */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-top: 0.2rem;
    margin-bottom: 3rem;
    max-width: 600px;
}